{% extends "base.html" %}
{% block title %}{{ task.module.number }}.{{ task.number }} {{ task.title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row g-3">
        <div class="col-lg">
            <h3><small class="text-muted">{{ task.module.number }}.{{ task.number }}</small> {{ task.title }}</h3>
            <p>{{ task.description }}</p>
            {% if task.required_keywords %}
            <p>You must use these keywords in your program:</p>
            <div class="mb-3">
                <ul class="list-group" id="keywords">
                    {% for keyword in task.required_keywords %}
                    <li class="list-group-item consolas" data-keyword="{{ keyword }}">{{ keyword }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="border p-3">
                <h4>Attempts</h4>
                <table class="table" style="font-size:13px;">
                    <thead>
                        <tr class="d-flex">
                            <th scope="col" class="col-4">Time submitted (UTC)</th>
                            <th scope="col" class="col-6">Tests</th>
                            <th scope="col" class="col-2">Overall</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="attempts-table-body">
                        {% for submission in current_user.submissions | selectattr('task', 'equalto', task) | sort(attribute='time_submitted') %}
                        <tr class="d-flex">
                            <td class="col-4">{{ submission.time_submitted.strftime('%d/%m/%Y %H:%M') }}</td>
                            <td class="col-6 d-flex flex-wrap justify-content-start align-items-center" style="gap:5px;">
                                {% set submission_loop = loop %}
                                {% for testcase_result in submission.testcase_results %}
                                {% if testcase_result.verdict | string == 'AC' %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="Correct!">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                </span>
                                {% elif testcase_result.verdict | string == 'WA' %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#DF4957" class="bi bi-x-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="Wrong Answer">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                    </svg>
                                </span>
                                {% else %}
                                {% if testcase_result.message %}
                                <div class="modal fade" id="detail{{ submission_loop.index }}-{{ loop.index }}-modal" tabindex="-1" aria-labelledby="detail{{ submission_loop.index }}-{{ loop.index }}-modal-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="detail{{ submission_loop.index }}-{{ loop.index }}-modal-label">Details</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div style="white-space:pre-wrap;" class="consolas">{{ testcase_result.message }}</div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-bs-toggle="modal" data-bs-target="#detail{{ submission_loop.index }}-{{ loop.index }}-modal" href="#">
                                {% endif %}
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#702963" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="{{ verdict_map[testcase_result.verdict | string] }}">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                        </svg>
                                    </span>
                                {% if testcase_result.message %}
                                </a>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="col-2 d-flex justify-content-between align-items-center">
                                {% if submission.overall_verdict | string == 'AC' %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="Correct!">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                </span>
                                {% elif submission.overall_verdict | string == 'WA' %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#DF4957" class="bi bi-x-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="Wrong Answer">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                    </svg>
                                </span>
                                {% else %}
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#702963" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-title="{{ verdict_map[submission.overall_verdict | string] }}">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                    </svg>
                                </span>
                                {% endif %}
                                <div class="modal fade" id="code{{ loop.index }}-modal" tabindex="-1" aria-labelledby="code{{ loop.index }}-modal-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="code{{ loop.index }}-modal-label">Code</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div style="white-space:pre-wrap;" class="consolas">{{ submission.source_code }}</div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a data-bs-toggle="modal" data-bs-target="#code{{ loop.index }}-modal" href="#">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg">
            <div class="mb-3">
                <textarea id="user-code"></textarea>
                <div id="editor"></div>
            </div>
            <button
                type="button"
                class="btn btn-success d-flex align-items-center"
                id="submit-button"
                data-bs-toggle="tooltip"
                data-bs-title="Make sure you have all the keywords in your program!"
                data-bs-trigger="manual"
                data-task-id="{{ task.id }}"
            ></button>
        </div>
    </div>
</div>
{% endblock content %}