{% extends "base.html" %}
{% block title %}{{ task.title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row g-3">
        <div class="col-lg">
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            {% if task.required_keywords %}
            <p>You must use these keywords in your program:</p>
            <div class="mb-3">
                <ul class="list-group" id="keywords">
                    {% for keyword in task.required_keywords %}
                    <li class="list-group-item consolas" data-keyword="{{ keyword }}">{{ keyword }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="border p-3">
                <h4>Attempts</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Time submitted (UTC)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="attempts-table-body">
                        <!-- ! DB STUFF HERE-->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg">
            <div class="mb-3">
                <textarea id="user-code"></textarea>
                <div id="editor"></div>
            </div>
            <button
                type="button"
                class="btn btn-success d-flex align-items-center"
                id="run-button"
                data-bs-toggle="tooltip"
                data-bs-title="Make sure you have all the keywords in your program!"
                data-bs-trigger="manual"
                data-task-id="{{ task.id }}"
            ></button>
        </div>
    </div>
</div>
{% endblock content %}