{% extends "base.html" %}
{% block title %}Editing {{ task.module.number}}.{{ task.number }}: {{ task.name }}{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between mb-2">
    <div>
        <h3>{{ task.module.number}}.{{ task.number }}: {{ task.name }}</h3>
    </div>
    <div>
        <div class="modal fade" id="delete-task-modal" tabindex="-1" aria-labelledby="delete-task-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="delete-task-modal-label">Delete Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{{ url_for('admin_bp.delete_task') }}" class="needs-validation" novalidate>
                        <input type="hidden" name="task_id" value="{{ task.id }}" />
                        <div class="modal-body">
                            Are you sure you want to delete this task?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete-task-modal">
            Delete task
        </a>
    </div>
</div>
<div class="border p-4">
    <form method="post" class="needs-validation" novalidate>
        <div class="row mb-3 g-3">
            <div class="col-md-6">
                <label for="module" class="form-label">Module</label>
                <select id="module" name="module_id" class="form-select" required>
                    {% for module in modules | sort(attribute='number') %}
                    <option value="{{ module.id }}" {% if module == task.module %} selected {% endif %}>{{ module.number }}. {{ module.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="number" class="form-label">Number</label>
                <input id="number" type="number" class="form-control" name="number" value="{{ task.number }}" required />
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" class="form-control" name="name" value="{% if task.name %}{{ task.name }}{% endif %}" />
        </div>
        <div class="mb-3 row g-3">
            <div class="col-lg-6">
                <label for="description" class="form-label">Description (supports <a class="text-decoration-none" href="https://www.markdownguide.org/cheat-sheet/">Markdown</a> and HTML)</label>
                <textarea id="description" class="form-control" name="description" rows="5">{% if task.description %}{{ task.description }}{% endif %}</textarea>
            </div>
            <div class="col-lg-6">
                <label for="description-md" class="form-label">Description preview</label>
                <div class="border p-2">
                    <md-block id="description-md"></md-block>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="required-keywords" class="form-label">Required keywords</label>
            <textarea id="required-keywords" class="form-control consolas" name="required_keywords" rows="5">{% if task.required_keywords %}{{ task.required_keywords | join('\n') }}{% endif %}</textarea>
            <div class="form-text">These are the keywords that the students must use in their program. Put each required keyword on its own line.</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Testcases</label>
            <div class="border p-3">
                <div id="testcases">
                    {% for testcase in task.testcases | sort(attribute='id') %}
                    <div class="testcase" id="testcase{{ loop.index }}">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="form-label my-0" id="testcase-number{{ loop.index }}">#{{ loop.index }}</label>
                            <a class="btn btn-danger remove-testcase" id="remove-testcase{{ loop.index }}" onclick="removeTestcase({{ loop.index }})">Remove testcase</a>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="input{{ loop.index }}" class="form-label" id="input-label{{ loop.index }}">Input</label>
                                <textarea id="input{{ loop.index }}" class="form-control consolas" name="input{{ loop.index }}" rows="5">{{ testcase.input }}</textarea>
                            </div>
                            <div class="col-6">
                                <label for="answer{{ loop.index }}" class="form-label" id="answer-label{{ loop.index }}">Answer keywords</label>
                                <textarea id="answer{{ loop.index }}" class="form-control consolas" name="answer{{ loop.index }}" rows="5">{{ testcase.answer_keywords | join('\n') }}</textarea>
                                <div class="form-text">These are the keywords that must appear in the student's program output for it to be marked as correct. Put each answer keyword on its own line. Case-insensitive.</div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    {% endfor %}
                </div>
                <a class="btn btn-success" id="new-testcase">New testcase</a>
                <div class="form-text text-danger">Note that the grader will consider the user's input prompt as part of its output. Try to steer the student away from using any answer keywords in their prompt. For example, if the one of the answer keywords is 'old', try to get the student to prompt for 'What is your age?' rather than 'How old are you?', as the latter would result in a falsely correct verdict.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock content %}