{% extends "base.html" %}
{% block title %}Users{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between">
    <h3>Users</h3>
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="s" placeholder="Search name" />
            <button class="btn btn-primary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>
    </form>
</div>
{% for page in users_page.iter_pages() %}
{% if page %}
{% if page != users_page.page %}
<a href="{{ url_for('admin_bp.users', page=page, per_page=request.args.get('per_page'), s=request.args.get('s', default='')) }}">{{ page }}</a>
{% else %}
<span class="fw-bold">{{ page }}</span>
{% endif %}
{% else %}
<span>…</span>
{% endif %}
{% endfor %}
<p>Showing {{ users_page.first }} - {{ users_page.last}} of {{users_page.total}}</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-3">Email<br />(@tonbridge-school.org)</th>
                <th scope="col" class="col-4">Name</th>
                <th scope="col" class="col-2">Group</th>
                <th scope="col" class="col-2"></th>
                <th scope="col" class="col-1">Admin?</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for user in users_page %}
            <tr class="d-flex">
                <th scope="row" class="col-3 text-break align-middle">{{ user.email.split('@')[0] }}</th>
                <td class="col-4 text-break">
                    <form method="post">
                        <input type="hidden" name="action" value="change_name" />
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" value="{{ user.name }}" />
                            <button type="submit" name="button" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>
                <td class="col-2">
                    <form method="post">
                        <input type="hidden" name="action" value="change_group" />
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        <select name="group_id" class="form-select user-group-select">
                            <option value="-1" {% if not user.group %}selected{% endif %}>-</option>
                            {% for group in groups %}
                            <option value="{{ group.id }}" {% if user.group.id == group.id %}selected{% endif %}>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td class="col-2">
                    {% if user != current_user %}
                    <div class="modal fade" id="confirm{{ loop.index }}-modal" tabindex="-1" aria-labelledby="confirm{{ loop.index }}-modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="confirm{{ loop.index }}-modal-label">Confirm deletion</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    This can't be undone.
                                </div>
                                <div class="modal-footer">
                                    <form method="post">
                                        <input type="hidden" name="action" value="delete_user" />
                                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="text-center text-break">
                        <form method="post">
                        <div class="btn-group-vertical btn-group-sm">
                            <a class="btn btn-primary" href="{{ url_for('admin_bp.user_progress', user_id=user.id) }}">Progress</a>
                                <input type="hidden" name="action" value="reset_password" />
                                <input type="hidden" name="user_id" value="{{ user.id }}" />
                                <button type="submit" class="btn btn-warning" onclick="spinner(this);">Reset password</button>
                                {% if user != current_user %}
                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm{{ loop.index }}-modal">Delete</a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </td>
                <td class="col-1">
                    <form method="post">
                        <input type="hidden" name="action" value="update_admin" />
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        <input class="form-check-input admin-check" type="checkbox" name="admin_check" value="" {% if user.is_admin %} checked {% endif %} {% if user == current_user %} disabled {% endif %} />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}